/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */


/* ==========================================================================

   ========================================================================== */
.container {
  margin:0 auto 0 auto;
  padding: 0 15px 0 15px;
  width:90%;
}

header {
  background-color: black;
  color:white;
  line-height: 1;
  padding:3em 0 3em 0;

}

header h1 {
  margin:0 0 0 10%;
  font-size: .75em;
  text-transform:uppercase;
  width:30%;
  text-align: right;
  border-bottom:.1em solid white;
  padding-bottom:.5em;
}

.mainpage {
  width:80%;
  float:left;
}

.mainsection::after{
  display: table;
  content:"";
  clear:both;
}

.videosection {
  width:100%;
  background-color:blue;
}

.mainpageleft {
  width:49%;
  float:left;
}

.socialsection {
  width:100%;
  background-color:red;
}

.tabletsection {
  width:100%;
  background-color:green;
}

.mainpageright {
  width:49%;
  float:left;
  margin-left: 2%;
}

.websection {
  width:100%;
  background-color:brown;
}

aside {
  width: 18%;
  float:left;
  background-color: pink;
  margin-left:2%;
}
/* ==========================================================================

   ========================================================================== */
h2 {
  font-size:2em;
  text-transform:uppercase;
}

h3 {
  font-size: 1em;
}

/* ==========================================================================

   ========================================================================== */

/* ==========================================================================

   ========================================================================== */
