/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */


/* ==========================================================================

   ========================================================================== */

* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}
.container {
  margin:0 auto 0 auto;
  padding: 0 15px 0 15px;
  width:90%;
  box-sizing: border-box;
}

.container::after{
  display: table;
  content:"";
  clear:both;
}

header {
  background-color: black;
  color:white;
  line-height: 1;
  padding:3em 0 3em 0;
  margin-bottom:1em;
}

header h1 {
  margin:0 0 0 10%;
  font-size: .75em;
  text-transform:uppercase;
  width:30%;
  text-align: right;
  border-bottom:.1em solid white;
  padding-bottom:.5em;
}

.mainpage {
  width:80%;
  float:left;
}

.mainsection::after{
  display: table;
  content:"";
  clear:both;
}

.videosection {
  width:100%;
  background-color:;
}

.videoimg {
  float:left;
  width:70%;
}

.videocontent{
float:left;
width:30%;
}

.videosection::after{
  display: table;
  content:"";
  clear:both;
}
.mainpageleft {
  width:49%;
  float:left;
}

.socialsection {
  width:100%;
  background-color:;
}

.tabletsection {
  width:100%;
  background-color:;
}

.mainpageright {
  width:49%;
  float:left;
  margin-left: 2%;
}

.websection {
  width:100%;
  background-color:;
}

section {
  border-top:.75em solid black;
  border-left:.1em solid black;
  border-right:.1em solid black;
  border-bottom:.1em solid black;
  margin-bottom:1em;
}

aside {
  width: 18%;
  float:left;
  background-color: ;
  margin-left:2%;
  border-top:.75em solid black;
  border-left:.1em solid black;
  border-right:.1em solid black;
  border-bottom:.1em solid black;
  margin-bottom:.1em;
  padding:.5em;
}
/* ==========================================================================

   ========================================================================== */
h2 {
  font-size:2em;
  text-transform:uppercase;
  padding:0em;
  margin:0em;
  border-bottom:.1em solid black;
}

h3 {
  font-size: 1em;
  padding:0em;
  margin:0em;
}

/* ==========================================================================

   ========================================================================== */

/* ==========================================================================

   ========================================================================== */
